{% extends 'base.html' %}
{% block title%}Create User{% endblock %}
{% block content %}

<h2>Add User</h2> <a href="/users">Home</a>
<form action="/create" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="">
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="">
    <label for="email">Email:</label>
    <input type="text" name="email" id="">
    <input type="submit" name="" id="" value="Add User">
</form>



{% endblock %}